# note that with ssl support on mac you may need to add "--with-ssl=$(brew --prefix openssl)" to the following:
export KERL_CONFIGURE_OPTIONS="--disable-parallel-configure --disable-debug --disable-silent-rules --without-javac --enable-shared-zlib --enable-dynamic-ssl-lib --enable-sctp --enable-threads --enable-kernel-poll --enable-wx --enable-darwin-64bit"
# XDG vars per spec: https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
# Postgres stuff
export PGDATA="$XDG_STATE_HOME/pgdata"
export PGHOST=localhost
export LANG=en_US.UTF-8
export LANGUAGE=en_US
export LC_CTYPE="en_US.UTF-8"
if [ $([ -f /etc/os-release ] && cat /etc/os-release | rg --count '^NAME="Arch') ]; then
    export PAC_USE_AUR=true
fi
export GUIX_PROFILE="$HOME/.guix-profile"
. "$GUIX_PROFILE/etc/profile"
source_env ~/.secrets
watch_file ~/.secrets
