.DS_Store
.cache
.secrets
.netrc
.bash_history
bin/direnv
bin/docker
bin/docker-compose
bin/docker-credential-osxkeychain
bin/kubectl
bin/orb
bin/orbctl
bin/steam
bin/*launcher
.codegpt
.vscode

**/.claude/settings.local.json
.jj/
.resume*
