# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Peter Marreck
	email = lumbergh@gmail.com
[core]
	precomposeUnicode = true
	pager = delta --tabs=2
	editor = code --wait
[interactive]
	difffilter = delta --tabs=2
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	tab-width = 2


[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[safe]
	directory = /etc/nixos
[pull]
	rebase = true
[alias]
	fix-perm = "fractal(){ git diff -p | grep -E '^(diff|old mode|new mode)' | sed -e 's/^old/NEW/;s/^new/old/;s/^NEW/new/' | git apply; }; f"
